.icon {
  width: 16px;
  height: 16px;
}

.meta {
  font-size: 12px;
  color: $secondary-text-dark-grey;
}

.arrow {
  display: flex;
  align-items: center;
  padding: 7px 4px;

  &:hover {
    cursor: pointer;
    background-color: $selected-menu-item;
    border-radius: 12px;

    path {
      stroke: $dark-orange;
    }
  }

  &.active {
    transform: rotate(180deg);
  }
}

a.user {
  font-weight: 600;
  color: #ff6f00;
}
