// Page Wrappers:

#app > [class*="-wrapper"] {
  flex: 1;
  margin: 0 $page-gutter-spacing;

  &.project-wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px;
    gap: $page-gutter-spacing;

    & > header {
      grid-column: 1/3;
    }
  }

  &.group-wrapper {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: $page-gutter-spacing;
  }
}

// Other:

.icon {
  width: 16px;
  height: 16px;
}

.meta {
  font-size: 12px;
  color: $secondary-text-dark-grey;
}

a.user {
  font-weight: 600;
  color: $primary-orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: lighten($primary-orange, 10);
  }
}

.btn-secondary {
  @include ui-border;
  color: $dark-orange;
  font-weight: 600;
  padding: 6px 15px;
  font-size: 14px;

  &.sm {
    padding: 4px 12px;
    font-size: 12px;
  }

  &:hover {
    span {
      color: $primary-orange;
    }
    color: $primary-orange;
    border-color: $primary-orange;
  }
}

.btn-primary {
  padding: $item-spacing-small $section-spacing;
  border-radius: $border-radius;
  background-color: $dark-orange;
  color: $white;
  font-size: 14px;
  font-weight: 600;

  &.lg {
    padding: 8px $page-gutter-spacing;
    font-size: 16px;
  }

  &:hover {
    background-color: $primary-orange;
  }
}

.btn-tertiary {
  text-decoration: underline;
  color: $dark-orange;

  &:hover {
    color: $primary-orange;
  }
}

// TODO: Should rename this to "block" or something
.row {
  display: flex;
  margin-bottom: $item-spacing-large;
}

.ui-inner {
  @include ui-border;
  background: $text-input-light-grey;
  display: flex;
  position: relative;
}

.counter {
  font-size: 12px;
  color: $secondary-text-dark-grey;
  display: flex;
  align-items: center;
  padding: $input-vertical-spacing $input-horizontal-spacing;
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  border-left: 1px solid $ui-border-grey;
  background-color: $white;
}

.placeholder {
  color: $ui-border-grey !important;
  user-select: none;
}

.f-align-c {
  display: flex;
  align-items: center;
}

.cards {
  margin: -10px;
  margin-top: 40px;
  display: flex;

  .card {
    margin: 10px;
  }
}

.panel-label {
  font-weight: 600;
  color: #f24d2b;
  padding: 5px;
  border: 1px solid #f24d2b;
  border-radius: 4px;
  margin-right: 10px;
  user-select: none;
}

.row-20,
.row-10 {
  display: flex;
  align-items: center;
}

.row-20 > *:not(:last-child) {
  margin-right: 20px;
}

.row-10 > *:not(:last-child) {
  margin-right: 10px;
}

.spaced {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full-flex {
  flex: 1;
  display: flex;
}

.count {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #f24d2b;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  line-height: 20px;
  cursor: help;
}

.striped {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
  }

  li:nth-child(odd) {
    background-color: $table-striped-row;
    border-radius: $border-radius;
  }
}

.user-points {
  display: flex;
  align-items: center;

  span {
    font-weight: 600;
  }

  img {
    margin-left: $item-spacing-small;
  }
}

.banner {
  position: relative;
  width: 630px;
  margin-bottom: $section-spacing-large;

  header {
    display: flex;
    justify-content: space-between;
  }

  .banner-title {
    display: flex;
  }

  .profile-pic {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 20px;
    bottom: -10px;
    border-radius: 50px;
    border: 2px solid $light-divider;
  }

  .banner-img {
    width: 630px;
    height: 190px;
  }
}
