$black: #212121;
$white: #fff;
$main-background-color: #f8f8f8;
$table-striped-row: #fbfbfb;
$selected-menu-item: #eee;
$primary-orange: #ff6f00;
$dark-orange: #f24d2b;
$icon-grey: #b6b6b6;
$text-input-light-grey: #fafafa;
$light-divider: #f8f8f8;
$ui-border-grey: #d9d9d9;
$secondary-text-dark-grey: #707070;
