$black: #212121;
$white: #fff;
$main-background-color: #f8f8f8;
$table-striped-row: #fbfbfb;
$selected-menu-item: #eee;
$primary-orange: #ff6f00;
$dark-orange: #f24d2b;
$icon-grey: #b6b6b6;
$text-input-light-grey: #fafafa; // or f9f9f9?
$light-divider: #f8f8f8;
$ui-border-grey: #d9d9d9;
$code-markdown-grey: #f2f2f2;
$secondary-text-dark-grey: #707070;
$default-issue-flag-background: #ce4545;
$open-issue-flag-background: #5aaa1e;
$selected-item: #f2f2f2; // for drop downs
$disabled-orange: #feac9c;

// Same as SemanticUI - use this for widgets
$error-ui-inner-border: #e0b4b4;
$error-ui-inner-background: #fff6f6;
$error-ui-inner-text: #9f3a38;
