@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "vars";
@import "mixins";
@import "classes";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

main {
  margin: 0 auto;
}

body,
textarea {
  font-family: $font-standard;
  color: $black;
  background-color: $main-background-color;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: $font-header;
}

h1,
h2,
h3 {
  font-size: 16px;
  font-weight: $fw-header-default;
}

h1 {
  font-weight: $fw-header-bold;
  color: $dark-orange;
}

h2 {
  color: $secondary-text-dark-grey;
  font-weight: 600;
}

h4 {
  font-size: 14px;
  font-weight: $fw-header-default;
  color: $secondary-text-dark-grey;
}

label {
  user-select: none;

  &[for] {
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
}

button,
input[type="button"],
input[type="submit"] {
  outline: none;
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}

input[type="text"],
input[type="password"],
input[type="email"] {
  cursor: text;
  font-size: 14px;
  line-height: 20px;
}

input,
.editbox {
  font-family: $font-standard;
  flex: 1;
  padding: $input-vertical-spacing $input-horizontal-spacing;
  border: 0;
  background: none;
  outline: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

hr {
  border: none;
  border-top: 1px solid $light-divider;
}

input[type="text"],
textarea,
.editbox {
  @include text-content;
}

textarea {
  resize: none;
  outline: none;
}

img {
  display: block;
}

// must be same size as banner-header
#app {
  margin-top: $banner-header-height;
  padding: $page-gutter-spacing;
  display: flex;
  min-height: calc(100vh - #{$banner-header-height});
  padding-bottom: 0;
}

::-webkit-input-placeholder {
  font-family: $font-standard;
  color: $ui-border-grey !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: $font-standard;
  color: $ui-border-grey !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: $font-standard;
  color: $ui-border-grey !important;
}

:-ms-input-placeholder {
  font-family: $font-standard;
  color: $ui-border-grey !important;
}

p a,
footer a {
  text-decoration: underline;
  color: $dark-orange;

  &:hover {
    color: $primary-orange;
  }
}

a p {
  color: $black;
}

p {
  font-size: 14px;
  line-height: 20px;
}

textarea {
  border: none;
  outline: none;
  background: none;
}

// Override SemanticUI colors:
.ui.selection.active.dropdown,
.ui.selection.active.dropdown .menu {
  border-color: $dark-orange !important;

  &:hover {
    border-color: $primary-orange !important;
  }
}

.ui.active.inverted.dimmer {
  border-radius: $border-radius;

  .ui.active.loader::after {
    border-color: $dark-orange transparent transparent;
  }
}
