#banner {
  height: $banner-header-height;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 $page-gutter-spacing;
  display: flex;
  justify-content: space-between;
  background-color: $white;
  z-index: 100;

  & > :first-child {
    display: flex;
    align-items: center;

    .burger-icon {
      padding: $page-gutter-spacing;
      margin-left: -$page-gutter-spacing;

      &:hover {
        svg {
          filter: brightness(1);
        }
        line {
          stroke: $dark-orange !important;
        }
      }
    }

    header {
      display: flex;
      align-items: center;

      img {
        margin-right: $item-spacing-small;
      }
    }
  }

  & > :last-child {
    display: flex;
    align-items: center;

    .notification-icon {
      margin-right: $item-group-spacing;
    }
  }
}

#authOptions {
  font-size: 16px;
  display: flex;

  a:not(:last-child) {
    margin-right: $item-spacing;
  }
}
