[class*="-icon"] {
  display: flex;
  align-items: center;
  height: 19px;
  user-select: none;

  span {
    color: $dark-orange;
    font-weight: 600;
    font-size: 12px;
    user-select: none;

    & + svg {
      margin-left: 5px;
    }
  }

  label {
    cursor: pointer;
    margin-right: 5px;
  }

  svg {
    width: 19px;
    height: 19px;
    user-select: none;
  }

  &:hover {
    cursor: pointer;

    svg {
      filter: brightness(0.8);
    }
  }
}

div.arrow-icon svg {
  width: 14px;
}

div.arrow-icon:not(.open) svg {
  transform: rotate(270deg);
}

div.arrow-icon.up svg {
  transform: rotate(180deg) !important;
}

div.arrow-icon.left svg {
  transform: rotate(90deg) !important;
}

div.arrow-icon.down svg {
  transform: rotate(0deg) !important;
}

div.arrow-icon.lg svg {
  width: 19px;
}

div.arrow-icon,
div.close-icon {
  &:hover svg {
    filter: brightness(1) !important;

    path,
    line {
      stroke: $dark-orange;
    }
  }

  &.active {
    svg {
      transform: rotate(180deg);
    }
  }

  & > h4 {
    margin-right: 10px;
  }

  svg {
    width: 14px;
  }
}

div.tick-icon {
  width: 14px;
}

div.save-icon svg {
  width: auto;
}

div.edit-icon {
  position: absolute;
  right: 20px;
  top: 10px;

  span {
    text-decoration: underline;
  }
  svg {
    margin-right: 5px;
    line-height: 12px;
  }
}

div.edit-icon:hover {
  svg {
    filter: brightness(1);
  }
  span {
    color: $primary-orange;
  }
}

.more-icon {
  padding: $item-spacing-small 0;
  box-sizing: content-box;

  &:hover {
    svg {
      filter: brightness(1);
    }

    circle {
      fill: $dark-orange;
    }
  }
}

.filter > .more-icon + .filter-dropdown {
  top: 40px;
}
