#mainNav {
  width: 200px;

  & > section {
    margin: $item-spacing-large 0;
  }

  .menu-item {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      border-radius: 4px;

      & > div {
        padding: 6px;
        height: auto !important;
      }

      &.active,
      &:hover {
        background-color: $selected-menu-item;
      }

      svg {
        margin-right: $section-spacing;
      }

      .action span {
        color: $dark-orange;
        font-weight: 600;
      }

      .arrow-icon.action svg {
        margin-left: 2px;
        margin-right: 18px;
      }

      span {
        color: $secondary-text-dark-grey;
        width: 146px;
        font-size: $main-nav-item-font-size;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        font-weight: 400;
      }

      &.active span {
        color: $dark-orange;
        font-weight: 600;
      }
    }
  }
}
