.menu-header {
  border-bottom: 1px solid $ui-border-grey;
  padding-bottom: $item-spacing-small;
  margin-bottom: $item-spacing-small;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  h3 {
    color: $secondary-text-dark-grey;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
  }

  .arrow-icon {
    height: auto !important;
    width: 100%;
    justify-content: space-between;
  }
}
