#profileSelect {
  @include ui-border;
  padding: 4px $item-group-spacing;
  display: flex;
  align-items: center;
  width: 200px;
  position: relative;

  .profile-pic {
    margin-right: $item-spacing;
  }

  &:hover {
    border-color: $primary-orange;
    cursor: pointer;
  }

  p {
    font-weight: 600;
    font-size: 13px;

    & + div {
      display: flex;
      align-items: center;

      img {
        margin-left: $item-spacing-small;
      }
    }
  }

  .arrow {
    position: absolute;
    right: 15px;
  }
}
