.post {
  padding: 15px 30px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;

  header {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }

  .post-user {
    font-size: 12px;

    p {
      color: #707070;
    }
  }

  .post-body {
    margin: 10px 0;
  }

  .post-contents {
    @include text-content;
    margin-top: 10px;
  }
}
