.post {
  padding: 15px 30px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-bottom: $item-spacing-large;

  header {
    display: flex;
    align-items: center;

    img {
      margin-right: $item-spacing;
    }
  }

  .post-user {
    font-size: 12px;

    p {
      color: #707070;
    }
  }

  .post-body {
    margin: $item-spacing 0;

    &.shared {
      @include ui-border;
      padding: $item-spacing;

      & > :last-child {
        padding-top: $item-spacing;

        .meta {
          margin-left: $item-spacing-small;
        }
      }
    }
  }

  .post-contents {
    @include text-content;
    margin-top: $item-spacing;
  }
}
