#groupPage {
  max-width: 630px;

  .role {
    display: inline-flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid $secondary-text-dark-grey;
    margin-bottom: 15px;

    h4 {
      margin-right: 15px;
      font-weight: $fw-header-bold;
    }
  }
}

#group_cc {
  & > header {
    display: flex;
    flex-direction: column;
    color: #707070;
    margin-bottom: $item-spacing;

    h2 {
      font-weight: $fw-header-bold;
    }

    p {
      font-size: 12px;
    }
  }
}
