#groupPage {
  width: 630px;
}

#group_cc {
  & > header {
    display: flex;
    flex-direction: column;
    color: #707070;
    margin-bottom: $item-spacing;

    h2 {
      font-weight: $fw-header-bold;
    }

    p {
      font-size: 12px;
    }
  }
}
