#projectPage {
  width: 630px;

  .menu-bar .btn-secondary.sm {
    padding: 6px 12px;
  }
}

#projectHeader {
  display: flex;
  align-items: center;

  img {
    margin-right: 15px;
  }

  & > div:first-of-type {
    margin-right: 20px;
  }

  h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
  }

  button {
    height: 34px;
  }

  .download-stats {
    margin-left: auto;
    display: flex;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      p {
        line-height: 16px;
      }
    }

    button {
      margin-left: 15px;
    }
  }
}

.issues-subbar {
  margin-bottom: $item-spacing-large;
  & > :first-child {
    margin-right: 100px;
  }
}

#project_iss {
  article {
    @include ui-border;
    width: 100%;
    background: $white;
    padding: $item-spacing $item-group-spacing;
    position: relative;
    margin-bottom: 10px;

    &:hover {
      @include card-shadow;
      cursor: pointer;
    }

    .meta {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 12px;
      }
    }

    [type="checkbox"] {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translate(0, -50%);
    }

    header {
      margin-left: 20px;
    }

    h4 {
      @include text-overflow-ellipsis;
    }
  }
}

#project_ad {
  section.highlight {
    h4 {
      color: $dark-orange;
    }

    li {
      border-color: $dark-orange;
    }

    .version-card {
      border-color: $dark-orange;
    }

    .version {
      font-weight: 600;
      color: $dark-orange;
    }
  }

  section > header {
    padding-top: 5px;
    border-top: 1px solid #d9d9d9;
    padding-bottom: 15px;
  }

  section {
    margin-bottom: $item-spacing-large;

    &:first-child {
      header {
        padding-top: 0;
        border-top: none;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h4 {
    font-weight: 600;
    color: $secondary-text-dark-grey;
    font-size: 12px;
  }

  .summary {
    max-width: 320px;
  }

  .version-card {
    @include ui-border;
    padding: $item-spacing $section-spacing;
    background-color: $white;
    margin-bottom: $item-spacing;
    align-items: flex-start;

    div > span {
      color: $ui-border-grey;
      font-weight: 600;
      font-size: 12px;
    }

    & > :last-child {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-self: center;
    }
  }
}

.project-wrapper.team {
  #projectPage {
    margin-top: -80px;
  }
}

#project_t {
  h2 {
    margin-bottom: $item-spacing-large;
  }

  .panel header {
    padding-bottom: $item-spacing;
  }

  .panel header > div {
    display: flex;
    align-items: flex-end;

    h3 {
      line-height: 16px;
    }

    .meta {
      margin-left: $item-spacing;
      line-height: 12px;
    }
  }
}

.project-wrapper.team {
  .name {
    flex: 1;
    input {
      font-weight: $fw-standard-bold;
    }
  }

  .ui-inner,
  .textbox-wrapper {
    background-color: $white;
  }

  .color {
    margin-left: 40px;
    max-width: 194px;
  }

  .color-selection {
    h4 {
      padding-bottom: $item-spacing-small;
    }

    .btns {
      margin: -5px;
      display: flex;
      flex-wrap: wrap;
    }

    button {
      border-radius: $border-radius;
      width: 24px;
      height: 24px;
      margin: 5px;
    }
  }
}

#generalTeamSettings {
  margin: $section-spacing-large 0;

  h2 {
    margin-bottom: 5px;
  }
}

#project_tm {
  h5 {
    font-size: 12px;
    color: $secondary-text-dark-grey;
    font-weight: $fw-standard-default;
  }

  h5:first-child {
    flex: 2;
    font-size: 12px;
  }

  h5:not(:first-child) {
    flex: 1;
    text-align: center;
  }

  .members {
    header {
      display: flex;
      padding-bottom: $section-spacing;
    }

    .member-row {
      &:not(:last-child) {
        padding-bottom: $item-spacing;
        border-bottom: 1px solid $light-divider;
        margin-bottom: $item-spacing;
      }

      display: flex;
      align-items: center;

      & > p {
        flex: 1;
        text-align: center;
        font-size: 12px;
      }
    }
  }

  .team-user {
    display: flex;
    align-items: center;
    flex: 2;

    img {
      margin-right: $item-spacing;
      margin-left: $item-spacing-small;
    }

    p:last-child {
      font-size: 12px;
    }
  }
}

#project_tp {
  h5 {
    font-size: 16px;
    font-weight: 400;

    & + p {
      margin-top: $item-spacing-small;
    }
  }

  .perm-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $item-spacing-large 0;
    border-bottom: 1px solid $light-divider;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
    }

    button {
      margin-left: $item-spacing-large;
      min-width: 100px;
    }
  }
}
