#userPage {
  width: 630px;
}

#userBanner {
  header {
    margin-left: 130px;
    margin-top: 10px;
  }

  h1 {
    margin-right: 15px;
    font-size: 18px;
    line-height: 18px;
    color: $black;
    text-transform: capitalize;
  }

  .banner-title {
    display: flex;
    align-items: flex-end;
  }
}

.panel.compact {
  header {
    align-items: center;
    padding-bottom: 10px;
  }

  footer {
    padding-top: 10px;
  }

  svg {
    margin-right: 10px;
  }
}
