@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Noto+Sans+JP:wght@400;700&display=swap");
.icon {
  width: 16px;
  height: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #212121;
  background-color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label[for] {
  cursor: pointer;
}

button,
input[type="button"],
input[type="submit"] {
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  border: none;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

input[type="search"] {
  outline: none;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

hr {
  border: none;
  border-top: 1px solid #f8f8f8;
}

main {
  background-color: #f8f8f8;
}
