@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Noto+Sans+JP:wght@400;700&display=swap");
.icon {
  width: 16px;
  height: 16px;
}

.meta {
  font-size: 12px;
  color: #707070;
}

a.user {
  font-weight: 600;
  color: #ff6f00;
}

div[class*="-icon"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 19px;
}

div[class*="-icon"] span {
  color: #f24d2b;
  font-weight: 600;
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

div[class*="-icon"] svg {
  width: 19px;
  height: 19px;
}

div[class*="-icon"]:hover {
  cursor: pointer;
}

div[class*="-icon"]:hover svg {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.arrow-icon:hover svg {
  -webkit-filter: brightness(1) !important;
          filter: brightness(1) !important;
}

.arrow-icon:hover svg path {
  stroke: #f24d2b;
}

.arrow-icon.active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.btn-secondary {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #f24d2b;
  font-weight: 600;
}

.btn-secondary.sm {
  padding: 4px 12px;
  font-size: 12px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #212121;
  background-color: #f8f8f8;
}

h1,
h2,
h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-size: 16px;
  font-weight: 600;
  color: #f24d2b;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #707070;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

label[for] {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button,
input[type="button"],
input[type="submit"] {
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  border: none;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

input[type="search"] {
  outline: none;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

hr {
  border: none;
  border-top: 1px solid #f8f8f8;
}

#pageWrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 60px;
  margin-right: 60px;
}

#app {
  margin-top: 50px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

::-webkit-input-placeholder {
  color: #d9d9d9 !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #d9d9d9 !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #d9d9d9 !important;
}

:-ms-input-placeholder {
  color: #d9d9d9 !important;
}

#banner {
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
}

#banner > :first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner > :first-child .burger-icon {
  margin-right: 30px;
}

#banner > :first-child header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner > :first-child header img {
  margin-right: 5px;
}

#banner > :last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner > :last-child .notification-icon {
  margin-right: 15px;
}

#mainNav {
  width: 200px;
}

#mainNav > section {
  margin: 20px 0;
}

#mainNav .menu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

#mainNav .menu-item a.active, #mainNav .menu-item a:hover {
  background-color: #eee;
}

#mainNav .menu-item a svg {
  margin-right: 15px;
}

#mainNav .menu-item a .action span {
  color: #f24d2b;
  font-weight: 600;
}

#mainNav .menu-item a span {
  color: #707070;
  width: 146px;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  font-weight: 400;
}

#mainNav .menu-item a.active span {
  color: #f24d2b;
  font-weight: 600;
}

#rightMenu {
  width: 280px;
  min-width: 280px;
}

#rightMenu > section {
  margin-bottom: 20px;
}

#rightMenu > section:last-of-type {
  margin-bottom: 0;
}

#rightMenu > section header {
  margin-bottom: 10px;
}

#rightMenu li {
  margin-bottom: 10px;
}

#rightMenu li section {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
}

#rightMenu li section p {
  margin: 5px 0;
}

#rightMenu li section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rightMenu li section footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#rightMenu li section span {
  color: #707070;
}

#rightMenu li section h4 {
  font-weight: 600;
  font-size: 14px;
  color: #ff6f00;
}

#rightMenu a {
  text-decoration: none;
  color: #212121;
  font-size: 12px;
  line-height: 16px;
}

#rightMenu .placeholder-icon {
  margin-right: 10px;
}

#profileSelect {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  position: relative;
}

#profileSelect .profile-pic {
  margin-right: 10px;
}

#profileSelect:hover {
  border-color: #ff6f00;
  cursor: pointer;
}

#profileSelect p {
  font-weight: 600;
  font-size: 13px;
}

#profileSelect p + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profileSelect p + div img {
  margin-left: 5px;
}

#profileSelect .arrow {
  position: absolute;
  right: 15px;
}

.filter {
  position: relative;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter header span {
  margin-right: 10px;
}

.filter .filter-dropdown {
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.filter ul {
  padding: 15px 0;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background: #fff;
}

.filter li {
  white-space: nowrap;
  padding: 6px 25px;
  padding-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter li:first-of-type {
  padding-top: 0;
  color: #d9d9d9;
}

.filter li:last-of-type {
  padding-bottom: 0;
}

.filter li:not(:first-of-type):hover {
  color: #f24d2b;
  cursor: pointer;
}

.filter .tick {
  margin-left: -20px;
  padding-right: 10px;
}

.menu-header {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-header h3 {
  color: #707070;
  font-weight: 600;
  font-size: 14px;
}

#postBox {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#postBox header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #d9d9d9;
  padding-right: 20px;
}

#postBox header img {
  margin-right: 10px;
}

#postBox header p {
  font-size: 12px;
  color: #707070;
}

#postBox header + div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#postBox input {
  height: calc(100% + 20px);
  width: calc(100% + 15px);
  border: 0;
  margin-top: -10px;
  padding-right: 15px;
  padding-left: 20px;
  cursor: pointer;
}

#postBox input:focus {
  outline: none;
}

.post {
  padding: 15px 30px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.post header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post header img {
  margin-right: 10px;
}

.post .post-user {
  font-size: 12px;
}

.post .post-user p {
  color: #707070;
}

.post .post-body {
  margin: 10px 0;
}

.post .post-contents {
  margin-top: 10px;
  line-height: 21px;
}

.post footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.post footer ul li {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.post footer ul li .arrow svg {
  margin-right: 0;
}

.post footer ul li .arrow-icon {
  margin-left: -4px;
}

.post footer ul li .arrow,
.post footer ul li svg {
  margin-right: 5px;
}

.post footer ul li:last-of-type {
  margin-right: 0;
}

#index {
  max-width: 632px;
  margin: 0 auto;
}

#index #toolBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0;
}

#index #toolBar .filter:not(:last-child) {
  margin-right: 20px;
}

#index #toolBar .search-box + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#index #toolBar .search-box {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#index #toolBar .search-box svg {
  margin: 0 5px;
}

#index #toolBar .search-box input {
  width: 196px;
  -webkit-transition: width ease-out 0.4s;
  transition: width ease-out 0.4s;
  padding: 5px;
  padding-right: 10px;
  border: none;
  border-radius: 4px;
  padding-left: 0;
}

#index #toolBar .search-box input:focus {
  -webkit-transition: width ease-out 0.4s;
  transition: width ease-out 0.4s;
  width: 330px;
}
