.basic-dropdown {
  width: 200px;

  &.error {
    .ui-inner {
      border-color: $error-ui-inner-border;
      background-color: $error-ui-inner-background;

      .placeholder {
        color: $error-ui-inner-text;
      }
    }
  }

  &.up {
    .ui-inner.focused {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top-color: $ui-border-grey;
    }

    .menu {
      bottom: 100%;
      border-bottom: none;
    }

    .menu,
    .item:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    .arrow-icon.open svg {
      transform: rotate(180deg) !important;
    }
  }

  &:not(.up) {
    .ui-inner.focused {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-color: $ui-border-grey;
    }

    .menu {
      top: 100%;
      border-top: none;
    }

    .menu,
    .item:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  header {
    padding-bottom: $item-spacing-small;
    display: flex;
    flex-direction: column;
  }

  .label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    span {
      @include text-content;
      flex: 1;
      padding: $input-vertical-spacing $input-horizontal-spacing;
      user-select: none;
    }

    &:hover {
      svg path {
        stroke: $dark-orange;
      }
    }
  }

  .ui-inner {
    cursor: pointer;
    align-items: center;
    background-color: $white;
    position: relative;

    &.focused .menu {
      border-color: $dark-orange;
    }
  }

  .arrow-icon {
    padding: $input-vertical-spacing $input-horizontal-spacing;

    svg {
      width: 14px;
    }
  }

  .menu {
    position: absolute;
    left: 0;
    z-index: 10;
    background-color: $white;
    width: calc(100% + 2px);
    margin: 0 -1px;
    border: 1px solid $ui-border-grey;
    margin-top: 1px;
    color: $black;
  }

  .item {
    padding: 8px 10px;
    border-bottom: 1px solid $light-divider;
    user-select: none;

    &:hover {
      background-color: $light-divider;
    }

    &.selected {
      background-color: $selected-item;
    }
  }
}
