.tags-editbox {
  width: 100%;

  header {
    padding-bottom: 5px;
  }

  .editbox {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
  }

  .tag {
    @include ui-border;
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 4px;
    background-color: #fff;
    flex: none;
  }

  div.tag {
    cursor: pointer;
    display: inline-flex;

    span {
      padding: 4px;
    }

    .close-icon {
      box-sizing: content-box;
      padding: 7px 4px 7px 6px;
      width: 14px !important;
      height: 14px !important;
    }
  }

  input.tag {
    width: 30px;
    min-width: 30px;
    padding: 4px;
  }
}
