.comment {
  header {
    margin-bottom: 15px;

    .meta {
      margin-left: 5px;
    }
  }

  .heart-icon {
    margin-left: auto;

    span {
      margin-left: $item-spacing-small;
    }
  }

  &.post {
    margin-bottom: $item-spacing;

    &:last-child {
      margin-bottom: $page-spacing;
    }
  }

  footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .reply {
    margin-top: 10px;
    border-top: 1px solid #f8f8f8;
    padding-top: 10px;
    padding-left: 15px;
    border-left: 1px solid #b6b6b6;
  }
}
