.filter {
  position: relative;
  font-size: 12px;
  display: flex;
  align-items: center;

  header {
    display: flex;
    align-items: center;

    p {
      font-size: 12px;
      line-height: 12px;
      margin-right: 10px;
    }

    span {
      margin-right: 5px;
    }
  }

  .filter-dropdown {
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, 0%);
    border: 1px solid #d9d9d9;
    border-radius: 4px;

    &::after {
      content: " ";
      display: block;
      width: 18px;
      height: 18px;
      background-color: $white;
      position: absolute;
      top: -9px;
      transform: translate(-50%, 0%) rotate(45deg);
      left: 50%;
      border: 1px solid $ui-border-grey;
      border-radius: 2px;
    }
  }

  ul {
    padding: 15px 0;
    background: #fff;
    position: relative;
    z-index: 1;
    border-radius: 4px;
  }

  li {
    white-space: nowrap;
    padding: 6px 25px;
    padding-left: 35px;
    display: flex;
    user-select: none;
    align-items: center;

    &:first-of-type {
      padding-top: 0;
      color: #d9d9d9;
    }

    &:last-of-type {
      padding-bottom: 0;
    }

    &:not(:first-of-type):hover {
      color: $dark-orange;
      cursor: pointer;
    }
  }

  .tick {
    margin-left: -24px;
    padding-right: 10px;
  }
}
