.panel {
  @include ui-border;
  padding: $item-spacing-large;
  background-color: $white;
  position: relative;
  margin-bottom: $section-spacing;

  .settings-icon {
    position: absolute;
    right: 20px;
    top: 10px;

    &:hover {
      span {
        color: $primary-orange;
      }
    }
    span {
      text-decoration: underline;
    }
  }

  &.highlight {
    border-color: $dark-orange;
  }

  & > header {
    padding-bottom: $item-spacing-large;
    display: flex;
    align-items: flex-start;

    h3 {
      color: $secondary-text-dark-grey;
      font-size: 16px;
    }
  }

  & > footer {
    padding-top: $page-gutter-spacing;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.sep {
      border-top: 1px solid $ui-border-grey;
      margin-top: 20px;
      padding-top: 20px;
    }

    & > * {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.panel-section {
  & > header {
    & + div {
      margin-top: 20px;
      padding: 0 15px;
    }
  }
}

.warning {
  display: flex;
  padding: $section-spacing $item-spacing-large;
  border-color: $dark-orange;

  .count {
    cursor: default;
    margin-right: $item-spacing;
    margin-top: $item-spacing-small;
  }
}
