.panel-link > .panel {
  &:hover {
    @include card-shadow;
    cursor: pointer;
  }
}

.panel {
  @include ui-border;
  padding: $item-spacing-large;
  background-color: $white;
  position: relative;

  &.highlight {
    border-color: $dark-orange;
  }

  & > header {
    padding-bottom: $item-spacing-large;
    display: flex;
    align-items: flex-start;

    h3 {
      color: $secondary-text-dark-grey;
      font-size: 18px;
      margin-top: -7px;
    }
  }

  & > footer {
    padding-top: $page-gutter-spacing;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > * {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
