.post {
  @include ui-border;
  padding: 15px 30px;
  background-color: $white;
  margin-bottom: $section-spacing;

  header {
    display: flex;
    align-items: center;

    img {
      margin-right: $item-spacing;
    }
  }

  .markdown {
    margin-top: $item-spacing-large;
  }

  .from-group {
    padding: 0 $item-spacing-small;
    color: $secondary-text-dark-grey;
  }

  &.panel-link {
    .markdown {
      max-height: 150px;
      overflow: hidden;
      position: relative;

      &::after {
        content: "View full post";
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        height: 50px;
        background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.8), $white);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: $dark-orange;
        font-size: 12px;
      }
    }
  }

  .post-user {
    font-size: 14px;

    p {
      color: $secondary-text-dark-grey;
    }
  }

  .post-body {
    margin-top: $item-spacing;

    h4 {
      display: flex;
      align-items: center;
      font-size: 20px;
      line-height: 26px;
      color: $black;
    }

    p {
      @include text-content;
    }

    &.shared {
      @include ui-border;
      padding: $item-spacing;

      & > :last-child {
        padding-top: $item-spacing;

        .meta {
          margin-left: $item-spacing-small;
        }
      }
    }
  }

  footer {
    margin-top: $item-spacing;
    display: flex;
  }

  .comment-box {
    header {
      margin: 10px 0;
      border-top: 1px solid #f8f8f8;
      padding-top: 10px;

      .meta {
        margin-right: 5px;
      }
    }

    textarea {
      width: 100%;
    }

    footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
  }
}
