#postBox {
  @include ui-border;
  background-color: $white;
  padding: $item-spacing $section-spacing;
  display: flex;
  position: relative;

  header {
    display: flex;
    align-items: center;

    img {
      margin-right: $item-spacing;
    }

    p {
      color: #707070;
    }
  }

  & > header {
    border-right: 1px solid $ui-border-grey;
    padding-right: $item-spacing-large;
  }

  .btn-create-post {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: $item-spacing;
    margin-left: $item-spacing;

    &:hover {
      cursor: pointer;
      background-color: $light-divider;
      border-radius: $border-radius;
    }
  }
}
