.post {
  @include ui-border;
  padding: 15px 30px;
  background-color: $white;
  margin-bottom: $section-spacing;

  header {
    display: flex;
    align-items: center;

    img {
      margin-right: $item-spacing;
    }
  }

  .post-user {
    font-size: 14px;

    p {
      color: #707070;
    }
  }

  .post-body {
    margin-top: $item-spacing-large;

    h4 {
      display: flex;
      align-items: center;
      margin-bottom: $item-spacing-large;
      font-size: 20px;
      line-height: 26px;
      color: $black;
    }

    p {
      @include text-content;
    }

    &.shared {
      @include ui-border;
      padding: $item-spacing;

      & > :last-child {
        padding-top: $item-spacing;

        .meta {
          margin-left: $item-spacing-small;
        }
      }
    }
  }

  footer {
    margin-top: $item-spacing-large;
    display: flex;
  }

  .comment-box {
    header {
      margin: 10px 0;
      border-top: 1px solid #f8f8f8;
      padding-top: 10px;

      .meta {
        margin-right: 5px;
      }
    }

    textarea {
      width: 100%;
    }

    footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
  }
}
