#mainNav {
  width: 200px;

  & > section {
    margin: $item-spacing-large 0;
  }
}

#mainNav.collapsed {
  margin-left: -30px;
  margin-top: -30px;
  width: 80px;
  background-color: #fff;

  .menu-item {
    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      justify-content: center;
      border-radius: 0;
      padding: 10px 0;

      .placeholder-icon {
        flex-direction: column;

        svg {
          margin: 0;
          width: 30px;
          height: 30px;
        }

        span {
          width: auto;
          font-size: 10px;
          margin-top: 5px;
        }
      }
    }
  }
}
