$main-nav-width: 210px;

#mainNav {
  @include fixed-menu;
  width: $main-nav-width;

  &:not(.collapsed) {
    padding-right: 10px;
  }

  & > section {
    margin: $page-gutter-spacing 0;
  }
}

#mainNav.collapsed {
  margin-left: -30px;
  margin-top: -30px;
  width: 80px;
  background-color: #fff;
  height: calc(100vh - 50px);

  .menu-item {
    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      justify-content: center;
      border-radius: 0;
      padding: 10px 0;

      .placeholder-icon {
        flex-direction: column;

        svg {
          margin: 0;
          width: 30px;
          height: 30px;
        }

        span {
          width: auto;
          font-size: 10px;
          margin-top: 5px;
        }
      }
    }
  }
}

#mainNav.sub:not(.collapsed) {
  background-color: $white;
  margin-left: -$page-gutter-spacing;
  margin-top: -$page-gutter-spacing;
  padding-left: $page-gutter-spacing;
  padding-right: $page-gutter-spacing;
  width: $main-nav-width + (2 * $page-gutter-spacing);
  padding-top: $page-gutter-spacing;
  height: calc(100vh - 50px);
}
