#projectNav {
  .btn-secondary {
    width: 100%;
  }

  .btn {
    margin-top: 20px;
  }

  & > ul:first-of-type {
    margin-top: 30px;

    .menu-item {
      a {
        padding-top: 5px;
        padding-bottom: 5px;

        span {
          font-size: 14px;
          width: 100%;
        }
      }
    }
  }
}
